{<<"name">>,<<"esnowflake">>}.
{<<"version">>,<<"0.2.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"esnowflake">>}.
{<<"maintainers">>,[<<"Takuya Yoshimura">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Twitter's Snowflake UUID generator in Erlang">>}.
{<<"files">>,
 [<<"src/esnowflake.app.src">>,<<"LICENSE">>,<<"README.md">>,
  <<"include/esnowflake.hrl">>,<<"rebar.config">>,<<"rebar.lock">>,
  <<"src/esnowflake.erl">>,<<"src/esnowflake_app.erl">>,
  <<"src/esnowflake_stats.erl">>,<<"src/esnowflake_sup.erl">>,
  <<"src/esnowflake_worker.erl">>,<<"src/esnowflake_worker_pool.erl">>,
  <<"src/esnowflake_worker_sup.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/tkyshm/esnowflake">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
