{erl_opts, [debug_info]}.
{deps, []}.

{rebar_packages_cdn, "https://hexpm.upyun.com"}.

{relx, [{release, {debug_rabbitmq, "0.1.0"},
        [kernel,stdlib,crypto,asn1,public_key,ssl,inets,esnowflake,sys_log,
        stdout_formatter,glib,rabbit_common,sasl,cuttlefish,jsx,
        credentials_obfuscation,enough,systemd,rabbitmq_prelaunch,os_mon,compiler,
        syntax_tools,xmerl,ranch,aten,gen_batch_server,ra,sysmon_handler,recon,
        observer_cli,seshat,osiris,amqp10_common,rabbit,demo,amqp_client,
        rabbitmq_mqtt,cowlib,cowboy,rabbitmq_web_dispatch,rabbitmq_management_agent,
        rabbitmq_management,rabbitmq_web_mqtt,debug_rabbitmq
        ,syslog ,zucchini, mnesia
        ]},

        % {mode, dev},

        %% automatically picked up if the files
        %% exist but can be set manually, which
        %% is required if the names aren't exactly
        %% sys.config and vm.args
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        %% the .src form of the configuration files do
        %% not require setting RELX_REPLACE_OS_VARS
        %% {sys_config_src, "./config/sys.config.src"},
        %% {vm_args_src, "./config/vm.args.src"}
        {include_erts, true},
        {include_src, false},

        {extended_start_script, true}
]}.

% {profiles, [{prod, [{relx,
%                      [%% prod is the default mode when prod
%                       %% profile is used, so does not have
%                       %% to be explicitly included like this
%                       {mode, prod}

%                       %% use minimal mode to exclude ERTS
%                       %% {mode, minimal}
%                      ]
%             }]}]}.
